$primaryColor: #000000;
$primaryColorblur: #1a1a1a61;
$greyColor: #1A1A1A;
$white: #ffff;
$grey: #3a3a3a;
$lightGrey: #959595;
$iconColor: #c6aa9a;
$darkPurple: #5718b66e;
$lightPurple: #9a42d0;
$lightPurple2: #bf5ffa7b;
$neonBlue: #4325C8;
$dangerColor: #942828cc;