* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: poppins;
}

body {
  color: white;
  background-color: #000000;
}

#header {
  color: white;
  background-color: #1A1A1A;
  padding: 16px;
}
@media (max-width: 576px) {
  #header {
    border-radius: 0px 0px 15px 15px;
  }
}
#header .profile-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#header .profile-container .profile-picture {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c6aa9a;
  background-color: #3a3a3a;
  border-radius: 50%;
  cursor: pointer;
}
#header .welcome-name {
  font-size: 16px;
  color: #959595;
}
#header .date-today {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c6aa9a;
  background-color: #3a3a3a;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px;
}
.search-box .input-search-box {
  width: 100%;
  height: 30px;
  background: linear-gradient(to right, #9a42d0, rgba(87, 24, 182, 0.431372549));
  border-radius: 6px;
  padding: 7px 8px;
  outline: none;
  border: none;
}
.search-box ::placeholder {
  color: #959595;
}
.search-box .bx-search {
  font-size: 26px;
  cursor: pointer;
}

.schedules {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 16px;
}
.schedules .schedule-item-add {
  position: relative;
  padding: 35px 15px 16px;
  background: rgba(26, 26, 26, 0.5921568627);
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 7px;
  max-width: 300px;
}
.schedules .schedule-item-add:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: linear-gradient(135deg, #c6aa9a, #9a42d0);
}
.schedules .icon-schedule {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 0px;
  cursor: pointer;
}
.schedules .icon-schedule .bx-category {
  font-size: 50px;
  color: #959595;
  transform: translate(0px, -55px);
  text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.8);
  transition: 0.2s ease-in-out;
}
.schedules .icon-schedule .bx-category:hover {
  font-size: 65px;
}
.schedules .title-schedule {
  font-size: 20px;
  font-weight: 500;
}
.schedules .Category-description {
  font-size: 14px;
  color: #959595;
  margin-top: 9px;
  line-height: 19px;
}
.schedules .checkin-btn {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(60deg, #9a42d0, rgba(191, 95, 250, 0.4823529412));
  border-radius: 10px;
  margin-top: 18px;
  cursor: pointer;
  transition: 0.4s;
}
.schedules .checkin-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.free-reminder {
  width: 100%;
  height: 250px;
  overflow: auto;
  padding: 16px;
}
.free-reminder .header-free-reminder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.free-reminder .header-free-reminder .see-all {
  color: #9a42d0;
}

.free-reminder::-webkit-scrollbar {
  width: 0px;
}

/*# sourceMappingURL=style.css.map */
