:root {
    --red: rgb(236, 61, 12);
    --green: rgb(48, 194, 48);
    --black: rgb(31, 30, 30);
    --purple: rgb(149, 121, 232);
}

@font-face {
    font-family: popy;
    src: url(Poppins/Poppins-LightItalic.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: popy;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--black);
}

.input-group input:focus {
    outline: none;
    border: 1px solid var(--purple);
}

#create-account-form {
    width: 350px;
    background: linear-gradient(rgb(31, 30, 30), rgb(31, 30, 30)) padding-box,
        linear-gradient(145deg, transparent, rgb(128, 75, 156), rgb(73, 139, 187)) border-box;
    border: 2px solid transparent;
    padding: 34px 20px;
    font-size: 14px;
    color: rgb(241, 237, 237);
    border-radius: 16px;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin: 18px 0;
    position: relative;
}

.input-group label {
    display: inline-block;
    margin-bottom: 5px;
    font-family: sans-serif;

}

.input-group input {
    display: block;
    width: 100%;
    padding: 12px;
    background: var(--black);
    border: 1px solid rgb(211, 212, 212);
    border-radius: 12px;
    color: azure;
}

.error input {
    border: 1px var(--red) solid;
}

.success input {
    border: 1px var(--green) solid;
}

.input-group i {
    position: absolute;
    right: 10px;
    top: 3px;
    visibility: hidden;
}

.success i.fa-check-circle {
    visibility: visible;
    color: var(--green);
}

.error i.fa-exclamation-circle {
    visibility: visible;
    color: var(--red);
}

.input-group p {
    font-size: 14px;
    color: var(--red);
    visibility: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error p {
    visibility: visible;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: var(--purple);
    background-color: var(--black);
    border: 1.6px solid var(--purple);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: inset 0 0 0 0 var(--purple);
    transition: ease-out 0.5s;
}

.btn:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 var(--purple);
}